<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/theme_1593064276523.css">
</head>
<body class='text-center justify-content-center'>
    <h1 class='h1 mb-1'>{{ grocery_list.title }}</h1>
    <hr>
    
    <ol class='my-2'>
        {% for ingredient in grocery_list.ingredients %}
        <li>{{ ingredient.name }}</li>
        {% endfor %}

        {% for ingredient in session['ingredients'] %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ol>

    <p>This email was sent by {{g.user.username}} at <a href="https://the-easy-meal.herokuapp.com">The-Easy-Meal.herokuapp.com</a></p>
</body>
</html>