{% extends 'base.html' %}

{% block title %}Shopping List{% endblock %}

{% block content %} 
<h1 class="display-2 mt-4 mb-5 text-center">Shopping List</h1>

{% if grocery_list.ingredients %}
  <div class="container w-50 mx-auto">
    <ul class="list-group border rounded" data-id="{{ grocery_list.id }}" id="list">
      <li class="list-group-item text-center">
        <button id="send-email" data-id="{{ grocery_list.id }}" class="btn btn-sm btn-primary">Email Me My List</button>
        <button id="clear-list" data-id="{{ grocery_list.id }}" class="btn btn-sm btn-outline-warning">Clear My List</button>
      </li>
      {% for ingredient in grocery_list.ingredients %}
      <li class='list-group-item text-center py-1 mb-0'>{{ingredient.name}}<span class="btn"><i data-id="{{ ingredient.id }}" id="remove" class="far fa-trash-alt"></i></span></li>
      {% endfor %}
      <li class='list-group-item pt-0 pb-1 text-center'><button id="add-ingredient" class='btn btn-sm btn-outline-dark my-0 px-2 py-0'><span><i class="fas fa-plus"></i></span></button></li>
    </ul> 
  </div>
  


{% else %}
<div class="container text-center">
  <p class="lead text-center mb-4">You haven't added anything to your shopping list yet</p>
  <a class="btn btn-outline-primary mx-auto" href="{{ url_for('view_saved_recipes') }}">View Favorites</a>
</div>

{% endif %}

<!-- <div class="card mx-auto" style="width: 18rem;">
    <img src="/static/images/groceries.jpeg" class="card-img-top" alt="Photo of groceries">
    <div class="card-body text-center">
      <h5 class="card-title">{{ grocery_list.title }}</h5>
      <p class="card-text">{{ grocery_list.date_created.strftime('List created: %b, %d %Y') }}</p>
      <button id="send-email" data-id="{{ grocery_list.id }}" class="btn btn-sm btn-primary">Email Me My List</button>
      <button id="clear-list" data-id="{{ grocery_list.id }}" class="btn btn-sm btn-outline-warning">Clear My List</button>
    </div>
    <ul class="list-group list-group-flush" id="list">
        {% for ingredient in grocery_list.ingredients %}
        <li class='list-group-item text-center py-2 mb-1'>{{ingredient.name}}<span class="btn"><i data-id="{{ ingredient.id }}" id="remove" class="far fa-trash-alt"></i></span></li>
        {% endfor %}
        <li class='list-group-item pt-0 pb-1 text-center'><button id="add-ingredient" class='btn btn-sm btn-outline-dark my-0 px-2 py-0'><span><i class="fas fa-plus"></i></span></button></li>
    </ul>
  </div> -->




{% endblock %}