{% extends 'base.html' %}

{% block title %}Easy Meals{% endblock %}

{% block content %} 

<h1 class="display-2 text-center">Easy Meals</h1>
<hr>

<div class="container text-center bg-light rounded py-4 welcome-container">
  <h2 class="h2">
    Welcome to <span class="brandname">Easy Meals</span> 
  </h2>
  <p>We really love food.</p>
  <p>So much in fact <br> we have <em>over 380,000</em> recipes from the web <br> ready for you to make!</p>

  <h3 class="h3">Here you can</h3>
  <ul class="list-group welcome-list">
    <li>
      Search for the meals you want
    </li>
    <li>
      Filter by diet or cuisine
    </li>
    <li>
      Save your favorites
    </li>
    <li>
      Add ingredients to your shopping list
    </li>
    <li>
      Email yourself your shopping list whenever you’re ready
    </li>
  </ul>

  <p>What are you waiting for?</p>
  <p class="lead text-lg">Lets get cookin!</p>

</div>

{% endblock %}