html,
body {
	height: 100vw;
	padding: 0;
}

body {
	background-image: url('/static/images/bg-img.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vw;
	padding: 0;
}
