/*****************/
/*  MAIN CONTENT */
/*****************/

html,
body {
	min-height: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-image: url('/static/images/bg-img.jpeg');
	background-position: top;
	background-size: auto;
	background-repeat: repeat-y;
	min-width: 100%;
	height: auto;
	font-family: 'Avenir Light', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
		sans-serif !important;
}
main {
	min-height: 100vh;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

h1,
.brandname {
	color: #355e3b;
}

.welcome-container {
	opacity: 0.75;
}

.welcome-list {
	list-style-type: none;
}

.navbar-brand {
	color: #355e3b !important;
}

.list-body {
	background-image: url('/static/images/groceries.jpeg');
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	opacity: 0.5;
	border-radius: 10px;
}

.feedback {
	position: fixed;
	left: 0;
	right: 0;
	margin: 5% auto;
	z-index: 100;
	width: 18rem;
}

footer {
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	position: relative;
	top: 0;
}

.footer-link {
	color: whitesmoke;
}

.footer-link:hover {
	color: rgb(176, 197, 197);
}

.jumbotron {
	width: 72vw;
	margin: 3% auto;
}

.instructions {
	white-space: pre-wrap;
}

.profile-info {
	color: rgb(87, 20, 26);
}

/*****************/
/*     CARDS     */
/*****************/

.card {
	max-width: 18rem;
	margin-right: auto;
	opacity: 0.8;
}

.card:hover {
	border: 5px solid black;
	opacity: 100%;
	box-shadow: 5px 5px #dbdbdb;
	/* text-decoration: none; */
}

.card-link {
	text-decoration: none;
	color: black;
	width: 100%;
	height: auto;
	margin: 0;
	cursor: default;
}

.card-img-top {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

/*****************/
/*    AVATAR     */
/*****************/

.avatar-link {
	max-width: 10%;
	height: auto;
	margin: 5px 5px;
}
.avatar {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

/*****************/
/*  ERROR PAGES  */
/*****************/

#error-404 {
	background-image: url('/static/images/404-error-page-vector-15472762.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

#error-401 {
	background-image: url('/static/images/vector-website-error-401.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

#error-500 {
	background-image: url('/static/images/vector-website-error-500.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media only screen and (max-width: 991px) {
	form {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.input-group {
		width: 100%;
	}

	.avatar-link {
		max-width: 50px;
		height: 50px;
		margin: 10px 10px;
	}
	.avatar {
		max-width: 100px;
		height: auto;
		border-radius: 50%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.card-img-top {
		width: 100%;
		height: auto;
	}

	.jumbotron {
		width: 90vw;
		margin: 3% auto;
		opacity: 1;
	}
	.card {
		opacity: 0.9;
	}

	.profile-li {
		flex-direction: column;
	}

	footer {
		min-width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	h1 {
		color: rgb(5, 34, 3);
	}

	body {
		background-image: url('/static/images/rustic.jpeg');
		background-position: center;
		background-size: auto;
		background-repeat: repeat-y;
		min-width: 100%;
		height: auto;
	}
}
