{% extends 'base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}


{% block content %} 

<!-- <h1 class="display-2 text-center mb-2">Recipe Details</h1> -->

<div class="jumbotron pt-4" style="opacity: 0.9;">
    <div class="container">
        <!-- TOP ROW  -->
        <div class="row mb-1">

            <div class="col-sm-12 col-md-6 text-center">
                <h1 class="display-4">{{ recipe.title }}</h1>
                <hr class="my-2">
                <p class="lead my-1">Ready in: {{ recipe.readyInMinutes }} minutes</p>
                <p class="lead my-1">Serves: {{ recipe.servings }}</p>
            </div>
        
            <div class="col-sm-12 col-md-6 mr-0">
                <img src="{{ recipe.image }}" class="img img-fluid img-thumbnail" alt="Photo of {{ recipe.title }}">
                <br>
                <span class="text-center">
                    <small class="small"><a href="{{ recipe.sourceUrl }}" class="text-muted mx-auto" target="_blank">Originally from {{ recipe.sourceName }}</a></small>
                    <form id="favorite-form" class="favorite-form d-inline">
                        {% if recipe in g.user.recipes %}
                        <button data-id="{{ recipe.id }}" class='btn btn-sm'><span><i  class="fas fa-heart"></i></span></button>
                        {% else %}
                        <button data-id="{{ recipe.id }}" class='btn btn-sm'><span><i class="far fa-heart"></i></span></button>
                        {% endif %}
                      </form>
                </span>
                <!-- BEGIN DIET SECTION  -->
                {% if recipe.vegetarian %}
                <small class="text-primary">Vegetarian!</small>
                {% endif %}
                
                {% if recipe.vegan %}
                <small class="text-primary">Vegan!</small>
                {% endif %}

                {% if recipe.glutenFree %}
                <small class="text-primary">Gluten free!</small>
                {% endif %}

                {% if recipe.dairyFree %}
                <small class="text-primary">Dairy free!</small>
                {% endif %}
                
                {% if recipe.sustainable %}
                <small class="text-primary">Sustainable!</small>
                {% endif %}

                {% if recipe.ketogenic %}
                <small class="text-primary">Ketogenic!</small>
                {% endif %}

                {% if recipe.whole30 %}
                <small class="text-primary">Whole30!</small>
                {% endif %}
                <!-- END DIETS -->
            </div>
        </div>
        <!-- END TOP ROW -->

      <hr class="my-4">

        <!-- BOTTOM ROW -->
        <div class="row p-0 m-0">
          <!-- left column for directions  -->
            <div class="col-sm-12 col-md-5 mx-1 mb-2 text-center">
                <h5 class="h5">Instructions</h5>
                {% if recipe.steps %}
                <ul class="list-group list-group-flush text-center">
                    {% for step in recipe.steps %}
                    <li class="list-group-item">{{ step.show_step() }}</li>
                    {% endfor %}
                </ul>
                {% elif recipe.instructions %}
                <p class="instructions">{{ recipe.instructions.replace('.', '. \n \n') }}</p>
                {% else %}
                <p class="">Sorry!</p>
                <p class="">We can't find any instructions for this recipe!</p>
                {% endif %}
            </div>

            <!-- right column for ingredients  -->
            <div class="col-sm-12 col-md-4 col-lg mx-1 text-center">
                <h5 class="h5">Ingredients</h5>
                {% if recipe.ingredients %}

                {% for ingredient in recipe.ingredients %}
                <p class="ingredient" data-id="{{ ingredient.id }}">{{ ingredient.measurements.amount }} {{ ingredient.measurements.unit }} {{ ingredient.name }}</p>
                {% endfor %}
                <button id='add-ingredients' data-id="{{ recipe.id }}" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Add to Shopping List</button>

                {% elif recipe.extendedIngredients %}
               
                {% for ingredient in recipe.extendedIngredients %}
                <p class="ingredient" data-id="{{ ingredient.id }}">{{ ingredient.originalString }}</p>
                {% endfor %}

                <button id='add-ingredients' data-id="{{ recipe.id }}" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Add to Shopping List</button>
                {% else %}
                <p class="">Sorry!</p>
                <p class="">We can't find the ingredients for this recipe!</p>
                {% endif %}
            </div>
        </div>
        <!-- END BOTTOM ROW -->

    </div>
</div>

{% endblock %}