{% extends 'base.html' %}

{% block title %}Favorites{% endblock %}

{% block content %} 

<h1 class="display-1 text-center">Easy Meals</h1>

{% if user.recipes %}
{% for recipe in user.recipes %}
<div class="card" style="width: 18rem;">
    <img src="{{recipe.img_url}}" class="card-img-top" alt="Photo of {{recipe.title}}">
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <p class="card-text">{{ recipe.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ready in: {{ recipe.ready_in }} minutes</li>
      <li class="list-group-item">Serves: {{ recipe.servings }}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">See more</a>
    </div>
  </div>
{% endfor %}

{% else %}
<p class="lead">You don't have any saved recipes yet!</p>
{% endif %}

{% endblock %}