{% extends 'base.html' %}

{% block title %}Favorites{% endblock %}

{% block content %} 

<h1 class="display-2 my-3 text-center">Favorites</h1>

{% if g.user.recipes %}


<div class="d-flex flex-wrap justify-content-around" id="recipe-container">

  {% for recipe in g.user.recipes %}

<!-- Begin Recipe Card Column -->
  <div class="card border mb-4 mx-auto p-2 rounded text-center">
    <a href="{{ url_for('view_recipe_details', id=recipe.id) }}" class="card-link">
      <img src="{{recipe.image}}" class="card-img-top img-fluid" alt="Photo of {{recipe.title}}">

      <div class="card-body py-2">
        <h5 class="card-title d-inline">{{ recipe.title }}</h5>

          <form id="favorite-form" class="favorite-form d-inline">
            {% if recipe.id in id_list %}
            <button data-id="{{ recipe.id }}" class='btn btn-sm'><span><i  class="fas fa-heart"></i></span></button>
            {% else %}
            <button data-id="{{ recipe.id }}" class='btn btn-sm'><span><i class="far fa-heart"></i></span></button>
            {% endif %}
          </form>
          
        <p class="lead mb-0">Ready In: {{ recipe.readyInMinutes }} minutes</p>
        <p class="lead">Servings: {{ recipe.servings }}</p>
        <a class="small text-muted" href="{{ recipe.sourceUrl }}" target="_blank">View original</a>
        <br>
      </div>
    </a>
  </div>

{% endfor %}









<!-- <div class="row justify-content-center my-5">
  {% for recipe in g.user.recipes %}
    <div class="card col-4 border border-secondary p-0 rounded text-center" style="width: 100%;">
      <img src="{{recipe.image}}" class="card-img-top img-fluid" alt="Photo of {{recipe.title}}">
      <div class="card-body py-2">
        <h5 class="card-title d-inline">{{ recipe.title }} </h5>
        <form id="favorite-form" class="d-inline">
          {% if recipe in g.user.recipes %}
          <button data-id="{{ recipe.id }}" class='btn btn-sm'><span><i  class="fas fa-heart"></i></span></button>
          {% else %}
          <button data-id=" {{ recipe.id }} " class='btn btn-sm'><span><i class="far fa-heart"></i></span></button>
          {% endif %}
        </form>
        <p><a href="{{ recipe.sourceUrl }}" class="small">By {{ recipe.sourceName }} </a></p>
        <a href="{{ url_for('view_recipe_details', id=recipe.id) }}" class="btn btn-outline-info">See more</a>
      </div>
    </div>
{% endfor %}
</div> -->


{% else %}
<p class="mx-auto my-5 text-center">You don't have any saved recipes yet!</p>
{% endif %}

{% endblock %}