{% extends 'base.html' %}

{% block title %}Favorites{% endblock %}

{% block content %} 

<h1 class="display-2 text-center">Favorites</h1>

{% if g.user.recipes %}
<div class="row justify-content-center my-5">
  {% for recipe in g.user.recipes %}
    <div class="card col-4 border border-secondary p-0 rounded text-center" style="width: 100%;">
      <img src="{{recipe.img_url}}" class="card-img-top img-fluid" alt="Photo of {{recipe.title}}">
      <div class="card-body py-2">
        <h5 class="card-title d-inline">{{ recipe.title }} </h5>
        <form class="d-inline">
          <!-- TODO click heart to remove recipe from favorites and DOM  -->
          {% if recipe in g.user.recipes %}
          <button class='btn btn-sm'><i data-id="{{ recipe.id }}" class="fas fa-heart"></i></button>
          {% else %}
          <button class='btn btn-sm'><i class="far fa-heart"></i></button>
          {% endif %}
        </form>
        <p class="small">By {{ recipe.source_name }} </p>
        <a href="{{ url_for('view_recipe_details', id=recipe.id) }}" class="btn btn-outline-info">See more</a>
      </div>
    </div>
{% endfor %}
</div>


{% else %}
<p class="lead">You don't have any saved recipes yet!</p>
{% endif %}

{% endblock %}