{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}


{% block content %} 

<h1 class="display-3 text-center">User Profile</h1>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6" style='background-image:url({{user.img_url}}); background-repeat:no-repeat; background-size:contain; background-position:center;'></div>
        <div class="col-6 text-center">
            <h2 class="h2 mb-1">{{user.username}}</h2>
            <button id="edit" class="badge badge-pill btn btn-outline-info mb-2">Edit Profile</button>
            <p class="lead">Email: {{ user.email }}</p>
            <p class="lead"> <a href="{{ url_for('view_saved_recipes', id=g.user.id) }}">Recipes Saved:</a> {{ user.recipes|length }}</p>    
            <p class="lead"><a href="{{ url_for('view_saved_recipes', id=g.user.id) }}">Grocery Lists Created:</a> {{ user.grocery_lists|length }}</p>
        </div>        
    </div>




</div>






{% endblock %}